* {
	--main-color: #1a1a4a;
	--font-color: white;
	--heading-color: #f0c420;
	--btn-nav-act-color: #f0c420;
	--btn-color: #f0c420;
	--btn-hover-color: #d4b01c;
	--list-line-color: rgba(255,255,255,0.15);
	--login-container-color: white;
	--form-control-color: #e1e5e9;


    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основное */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--font-color);
    background: var(--main-color);
}

/* Шапка и навигация */
header {
    background-color: black;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav{
	display: flex;
	justify-content: space-between;
	
	div {
		list-style: none;
		display: flex;
		gap: 2rem;
	}
	
	h3 {
		margin-left: 10px;
	}
	
	a {
		color: var(--font-color);
		text-decoration: none;
		padding: 0.3rem 1rem;
		border-radius: 5px;
		
		&:hover, &.active {
			background-color: var(--btn-nav-act-color);
			color: black;
		}
	}
}


/* Основной контент */
main {
    max-width: 70%;
    margin: 20px auto;
    padding: 0px;
}

/* Главная страница */
.hero {
    text-align: center;
    
	h1 {
		font-size: 3rem;
		margin-bottom: 1rem;
		color: var(--heading-color);
	}
	
	p {
		font-size: 1.2rem;
		opacity: 0.9;
	}
}

/* Список планет на главное странице */
.planets-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 3rem 0;
}

.planet {
    padding: 2rem;
    text-align: center;
    display: grid;
    
	img {
		margin: 0px auto 2rem;
		width: 20em;
		height: 20em;
		object-fit: cover;
		transition: 1s; /* Время эффекта */
		
		&:hover {
			transform: scale(1.1); /* Увеличиваем масштаб */
		}
	}
	
	a {
		margin: 0px auto 1.5rem;
		width: 10rem;
	}
}

/* Кнопки */
.btn {
    display: inline-block;
    background-color: var(--btn-color);
    color: black;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    
    &:hover {
		background-color: var(--btn-hover-color);
	}
}

/* Страницы планет */
.planet-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: start;
    margin: 3rem 0;
    
    img {
		width: 100%;
		border-radius: 15px;
		transition: 1s; /* Время эффекта */
		
		&:hover {
			transform: scale(1.1); /* Увеличиваем масштаб */
		}
	}
}

.planet-details {
	h2 {
		color: var(--heading-color);
		margin-bottom: 1.5rem;
	}

	ul {
		list-style: none;
		margin-bottom: 2rem;
	}
	
	li {
		padding: 0.5rem 0;
		border-bottom: 1px solid var(--list-line-color);
	}
}

.facts li::before {
	content: "★";
	color: var(--heading-color);
}

.back-link {
    text-align: center;
    margin: 3rem 0;
}

/* Информационные секции */
.info {
    padding: 2rem;
    border-radius: 15px;
    margin: 3rem 0;

	h2 {
		color: var(--heading-color);
		margin-bottom: 1rem;
	}
}

/* Страница для логина */
.signin-main {
	min-height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
        
 .login-container {
	border-radius: 15px;
	background: var(--login-container-color);
	padding: 40px;
	min-width: 450px;
	color: var(--main-color);
}

.form-group {
	margin-top: 5px;
	margin-bottom: 25px;
	
	input{
		width: 100%;
		padding: 15px;
		border: 2px solid;
		border-color: var(--form-control-color);
		border-radius: 8px;
		font-size: 1rem;
		
		&:focus {
			outline: none; /* Убирает обводку при фокусе */
		}
		
		/* Стили для разных состояний */
        &.good {
            border-color: green;
        }
        
        &.bad {
            border-color: red;
        }
	}

	label {
		color: var(--main-color);
		font-size: 1rem;
	}
	
	div {
	/* Стили для подсказок */
        &.hint {
            font-size: 0.9rem;
            margin-top: 5px;
            min-height: 20px;
        }
        
        &.good-hint {
            color: green;
        }
        
        &.bad-hint {
            color: red;
        }
     }
}

.checkbox-group {
	display: flex;
	margin-bottom: 30px;

	input {
		width: 18px;
		height: 18px;
		margin-right: 10px;
		accent-color: var(--btn-color);
	}

	label {
		font-size: 0.9rem;
		cursor: pointer;
	}
}

.btn-login {
	width: 100%;
	padding: 15px;
	background: var(--main-color);
	color: white;
	border-radius: 8px;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	opacity: 1.0;
		
	&:disabled {
		opacity: 0.4;
	}
}

.userlist {
	width: 100%; 
	margin: 8% 0px auto;
	
	table {
		table-layout: fixed;
		width: 35rem;
		border-collapse: collapse;
		
		th {
			color: var(--heading-color);
		}
		
		tr, td {
			padding: 0.2rem;
			border: 2px solid var(--list-line-color);
		}
	}
	
	h2 {
		color: var(--heading-color);
		margin-bottom: 1rem;
	}
}


